* {
  margin: 1px;
  outline-style: none;
  border-radius: 4px;
}

window {
  margin: 4px;
  border: 1px solid #005577;
  border-radius: 0px;
}

#outer-box {
  margin: 1px;
  padding: 4px;
  border-radius: 4px;
}
