*{
  font-family: iosevka;
  font-size: 12pt;
}

window{
  border: 3px solid red;
  border-radius: 6px;
}

#input {
  border-radius: 6px;
  border: 3px;
  border-bottom: 3px solid grey;
  background-color: @theme_base_color;
  color: white;
  font-size: 12pt;
}

#inner-box {
  background-color: @theme_base_color;
  border-radius: 6px;
  border-width: 3px;
}

#outer-box {
  margin: 2px;
  padding:2px;
  border-radius: 6px;
  border-width: 3px;
}

#text {
  color: #dedede;
}

#entry:selected {
  background-color: #dedede;
  border-radius: 6px;
  border-width: 3px;
}

#text:selected {
  color: #121212;
  border-radius: 6px;
  border-width: 3px;
}

#scroll {
}

#img {
}
