/* Set for all elements*/
* {
  font-size: 16px;
  min-height: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-shadow: none;
}

/* Styling of bar */
window#waybar {
  background-color: @theme_base_color;
}

/* Reset button style */ 
button {
  background: none;
  border: none;
  box-shadow: none;
  outline: none;
  transition: none;
  text-shadow: none;
  border-radius: 0px;
}

#workspaces {
  margin-right: 4px;
  margin-left: 4px;
}

/* Set styling of all workspace buttons */
#workspaces button {
  margin-left: 4px;
  margin-right: 4px;
  transition-duration: 0.5s;
}

#workspaces button.active {
  background: @theme_text_color;
  color: @theme_bg_color;
  font-weight: bold;
}

#workspaces button.urgent {
  color: @theme_selected_bg_color;
  font-weight: bold;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#window {
  margin-left: 4px;
  margin-right: 4px;

  padding-right: 6px;
  padding-left: 6px;
}

#battery {
  margin-left: 4px;
  margin-right: 4px;

  padding-right: 6px;
  padding-left: 6px;
}

#battery.charging {
  color: #87FFAF;
}

@keyframes blink {
  to {
    color: @theme_text_color;
  }
}

#battery.critical:not(.charging) {
  color: #B14F13;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#pulseaudio {
  margin-left: 4px;
  margin-right: 4px;

  padding-right: 6px;
  padding-left: 6px;
}

#bluetooth {
  margin-left: 4px;
  margin-right: 4px;

  padding-right: 6px;
  padding-left: 6px;
}

#network {
  margin-left: 4px;
  margin-right: 4px;

  padding-right: 6px;
  padding-left: 6px;
}

#network.disconnected {
  color: #B14F13;
}
