/* Set for all elements*/
* {
  font-family: monospace;
  font-size: 14px;
  min-height: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-shadow: none;
}

/* Styling of bar */
window#waybar {
  background-color: #222222;
  color: #bbbbbb;
}

/* Reset button style */ 
button {
  background: none;
  border: none;
  box-shadow: none;
  outline: none;
  transition: none;
  text-shadow: none;
  border-radius: 0px;
}

/* dwl/tags */
#tags {
  color: #bbbbbb;
}

#workspaces {
  margin-right: 10px;
}

#tags button {
  color: #bbbbbb;
  border-radius: 0px;
  padding-left: 6px;
  padding-right: 6px;
  transition-duration: 0.5s;
}

tags button.occupied {
  transition-duration: 0.5s;
}

#tags button.focused {
  color: #eeeeee;
  background-color: #005577;
}

#tags button.urgent {
  color: #222222;
  background-color: #eeeeee;
}

/* Hyprland/workspaces module styling */
#workspaces button {
  color: #bbbbbb;
  transition-duration: 0.5s;
  padding-left: 3px;
  padding-right: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 3px;
}

#workspaces button.active {
  color: #0a0a0a;
  background-color: #A3A3EB;
  border-radius: 3px;
}

#workspaces button.urgent {
  color: #F4AB61;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#clock {
  margin-right: 3px;
}

#battery.charging {
  color: #6DAF22;
}

@keyframes blink {
  to {
    color: @theme_text_color;
  }
}

#battery.critical:not(.charging) {
  color: #C01C28;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
