* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FreeSans;
    font-size: 18px;
    padding: 2px 0px;
    min-height: 0;
}

#waybar > box {
    border-radius: 8px;
    margin: 8px 8px 8px 8px;
   /* background-color: rgba(18, 21, 29, 0.98);*/
    background-color: #262626; 
   /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.7);*/
    box-shadow: -2px 2px 2px rgba(28, 28, 28, 0.6);
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.0;
}

#workspaces {
    margin: 3px 5px;
    padding: 6px 9px;
    border-radius: 8px;
}

button {
  color: #DEDEDE;
  background-color: #262626;
}

#workspaces button {
    padding: 0px 5px;
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 8px;
}

#workspaces button:hover {
  border-color: transparent;
  box-shadow: inherit;
  text-shadow: inherit;
  background: none;
}

#workspaces button.active {
    background-color: #DEDEDE;
    color: #262626;
    border-radius: 8px;
    margin-left: 4px;
    margin-right: 4px;
}

#workspaces button.urgent {
    color: #57BA37;
}

#custom-powerbutton,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 2 10px;
    margin: 2 4px;
    color: #ffffff;
    border-radius: 0px;
}

#window {
    background-color: #282828;
    color: #DEDEDE;
    padding: 0px 10px;
    border-radius: 0px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 4;
}

.modules-left- > widget:first-child > #workspaces button.active {
	margin-left: 4;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 4;
}

#clock {
    color: #dedede;
    border-radius: 8px;
}

#battery {
    color: #dedede;
    border-radius: 8px;
}

#battery.charging {
    color: #57BA37;
    border-radius: 8px;
}

#battery.plugged {
    color: #F0D50C;
    border-radius: 8px;
}

@keyframes blink {
    to {
        color: #dedede;
    }
}

#battery.critical:not(.charging) {
    color: #d71a1a;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border-radius: 8px;
}

label:focus {
}

#network {
    color: #DEDEDE;
    border-radius: 8px;
}

#network.disconnected {
    color: #ff0000;
    border-radius: 8px;
}

#pulseaudio {
    color: #DEDEDE;
    border-radius: 8px;
}

#pulseaudio.muted {
    color: #DEDEDE;
    border-radius: 8px;
}

#tray {
    border-radius: 8px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#custom-powerbutton button {
    color: #DEDEDE
}

