TriggerAction "SIGRTMIN+1", SwitcherEvent "forward"
TriggerAction "SIGRTMIN+2", SwitcherEvent "back"

function("SfwbarInit") {
  layer "background"
  Mirror "*"
}

include("winops.widget")

layout {

  taskbar {
    style = "taskbar"
    rows = 1;
    labels = true;
    sort = false;
    action[3] = Menu "winops"
  }

  label {
    css = "* { -GtkWidget-hexpand: true; }"
  }

  tray

  /*include("volume.widget")*/
  /*include("network-module.widget")*/
  /*include("bluez.widget")*/
  include("battery-svg.widget")

  label {
    value = Time("%a, %d.%m.%y %k:%M")
    style = "clock"
  }
}

#CSS

/* Configure sfwbar (just the bar, not inner elements) */
window#sfwbar {
  -GtkWidget-direction: bottom;
}

/* Globally defined button */
button {
  background: none;
  box-shadow: none;
  border: none;
}

/* Globally defines images in buttons */
button#image {
  outline-style: none;
  box-shadow: none;
  background-image: none;
  border-image: none;
}

image {
  -ScaleImage-symbolic: true;
}

/* Set styling for starmenu button, left empty -> default value */
button#startmenu,

/* Button modules, such as tray, bat, vol and starmenu */
button#module {
  -GtkWidget-vexpand: true;
}

button#module image {
  -GtkWidget-valign: center;
  -GtkWidget-vexpand: true;
}

button#taskbar_normal,
button#taskbar_active,

button#taskbar_normal {
  text-shadow: none;
}

button#taskbar_active {
  font-weight: bold;
  text-shadow: none; 
}

button#taskbar_normal:hover {
  transition: 0.05s;
  text-shadow: none;
}

button#taskbar_normal grid,
button#taskbar_active grid,
button#taskbar_normal:hover grid {
  -GtkWidget-valign: center;
}

button#taskbar_normal image,
button#taskbar_active image,
button#taskbar_normal:hover image {
  -ScaleImage-symbolic: false;
}

button#taskbar_normal label,
button#taskbar_active label,
button#taskbar_normal:hover label {
}

button#tray_active {
  border: none;
}

button#tray_passive,
button#tray_attention {
  border: none;
}

button#tray_passive {
  -GtkWidget-visible: false;
}

button#tray_active image,
button#tray_passive image,
button#tray_attention image {
  -GtkWidget-valign: center;
  -GtkWidget-vexpand: true;
  border: none;
}

button#tray_active:hover {
  background: none;
}

#menu_item,
#menu_item image,
#menu_item label {
  -GtkWidget-halign: start;
}

#menu_item image {
}

label#clock {
  -GtkWidget-vexpand: true;
  -GtkWidget-valign: center;
  margin-right: 8px;
}
