TriggerAction "SIGRTMIN+1", SwitcherEvent "forward"
TriggerAction "SIGRTMIN+2", SwitcherEvent "back"

function("SfwbarInit") {
  layer "background"
  Mirror "*"
}

include("winops.widget")
include("startmenu.widget")

layout {

  taskbar {
    style = "taskbar";
    rows = 1;
    labels = true;
    sort = false;
  }

  label {
    css = "* { -GtkWidget-hexpand: true; }"
  }

  tray

  include("volume.widget")
  #include("network-module.widget")
  #include("bluez.widget")
  include("battery-svg.widget")

  label {
    value = Time("%a, %d.%m.%y %k:%M")
    style = "clock"
  }
}

#CSS

* {
  font-size: 12px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 1px;
  padding-right: 1px;
  margin: 0px;
}

/* Configure sfwbar (just the bar, not inner elements) */
window#sfwbar {
  -GtkWidget-direction: bottom;
  background: rgb(68,68,68);
  background: linear-gradient(180deg, rgba(68,68,68,1) 12%, rgba(34,34,34,1) 31%); 
}

/* Globally defined button */
button {
  background: none;
  box-shadow: none;
  border: none;
}

/* Globally defines images in buttons */
button#image {
  outline-style: none;
  box-shadow: none;
  background-image: none;
  border-image: none;
}

image {
  -ScaleImage-symbolic: false;
}

/* Set styling for starmenu button, left empty -> default value */
button#startmenu,

/* Button modules, such as tray, bat, vol and starmenu */
button#module {
  -GtkWidget-vexpand: true;
}

button#module image {
  -GtkWidget-valign: center;
  -GtkWidget-vexpand: true;
}

button#taskbar_normal,
button#taskbar_normal:hover {
  transition: none;
  text-shadow: none;
  margin-left: 4px;
  margin-right: 4px;
}

button#taskbar_active {
  transition: 0.05s;
  font-weight: bold;
  text-shadow: none; 
}

button#taskbar_normal grid,
button#taskbar_active grid,
button#taskbar_normal:hover grid {
  -GtkWidget-valign: center;
}

button#tray_active,
button#tray_passive,
button#tray_attention {
  border: none;
}

button#tray_passive {
  -GtkWidget-visible: false;
}

button#tray_active image,
button#tray_passive image,
button#tray_attention image {
  -GtkWidget-valign: center;
  -GtkWidget-vexpand: true;
  border: none;
}

button#tray_active:hover {
  background: none;
}

#menu_item,
#menu_item image,
#menu_item label {
  -GtkWidget-halign: start;
  padding-left: 1px;
  padding-right: 1px;
  margin: 2px;
}

#menu_item image {
}

label#clock {
  -GtkWidget-vexpand: true;
  -GtkWidget-valign: center;
  margin-right: 4px;
  margin-left: 4px
}
